html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
    height: auto;
    border: solid 2px blueviolet;
}

nav {
    margin: 0;
    padding: 20px 0;
}

nav li {
    color: grey;
    list-style: none;
    font-weight: 600;
    font-size: 32px;
    display: inline;
    margin: 40px 20px;
}

a {
    text-decoration: none;
}

img {
    margin-top: 180px;
    border-radius: 18px;
    border: solid 4px blueviolet;
    width: 180px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
    letter-spacing: .5px;
    font-weight: 500;
}

h2 {
    font-size: 48px;
    font-family: cursive;
}

#aboutme {
    background-image: url(https://wallpaperaccess.com/full/476584.jpg);
    background-size: cover;
    color: white;
    align-items: center;
}

p {
    font-size: 22px;
    text-align: justify;
    margin: 20px 20px;
    padding-bottom: 40px;
    padding-left: 380px;
    width: 50%;
}

h3 {
    font-size: 18px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#skills {
    background-image: url(https://previews.123rf.com/images/szakalikus/szakalikus1612/szakalikus161201291/67976768-numbers-on-computer-screen-binary-code-closeup-photography-with-visible-pixels-.jpg);
    background-size: cover;
    padding-bottom: 132px;
    padding-top: 120px;

}

#skills h2 {
    background-color: white;
    padding: 20px;
    width: 100%;
    border-radius: 12px;
    margin: 0px 20px;
}

#skills li {
    list-style: none;
    padding: 20px 20px;   
    font-size: 24px;
    background-color: blueviolet;
    width: 220px;
    border-radius: 22px;
    margin: 40px 10px;
    color: white;
    display: inline-block;
}

#external {
    text-align: start;
    color: blueviolet;
    margin-bottom: 20px;
}

#external a {
    padding: 20px 10px;
    background-color: blueviolet;
    border-radius: 12px;
    color: white;
}