<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=640">

    <link rel="stylesheet" href="../stylesheets/core.css" media="screen">
    <link rel="stylesheet" href="../stylesheets/mobile.css" media="handheld, only screen and (max-device-width:640px)">
    <link rel="stylesheet" href="../stylesheets/github-light.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />

    <script type="text/javascript" src="../javascripts/modernizr.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/headsmart.min.js"></script>
    <script type="text/javascript" src="../javascripts/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    
   <title>First Timers Only - Get involved in Open Source and commit code to your first project!</title>
  <script type="text/javascript" charset="utf-8" async="" src="./index_files/tweet.d657a9cf9370747df5a1bde99a943bd9.js"></script><style></style></head>

  <body><div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cc-window cc-banner cc-type-info cc-theme-block cc-bottom cc-color-override-414096280 " style=""><!--googleoff: all--><span id="cookieconsent:desc" class="cc-message">This website uses cookies to ensure you get the best experience on our website. <a aria-label="learn more about cookies" role="button" tabindex="0" class="cc-link" href="http://cookiesandyou.com/" target="_blank">Learn more</a></span><div class="cc-compliance"><a aria-label="dismiss cookie message" role="button" tabindex="0" class="cc-btn cc-dismiss">Got it!</a></div><!--googleon: all--></div>
    <a id="forkme_banner" href="https://github.com/shanselman/firsttimersonly">View on GitHub</a>
    <div class="shell">

      <header>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            <h1>First Timers Only</h1>
            <h2>Friendly Open Source projects should reserve specific issues for newbies.</h2>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
      </header>

      <section id="downloads">
        <span class="inner">
          <a href="https://github.com/shanselman/firsttimersonly/zipball/master" class="zip"><em>download</em> .ZIP</a><a href="https://github.com/shanselman/firsttimersonly/tarball/master" class="tgz"><em>download</em> .TGZ</a>
        </span>
      </section>


      <span class="banner-fix"></span>


      <section id="main_content">
        <h3 id="welcome-lets-do-some-open-source" class="header-level-1">Welcome! Let’s do some open source!</h3>
<p>Contributing to open source for the first time can be scary and a little overwhelming. Perhaps you’re a <a href="http://www.codenewbie.org/">Code Newbie</a> or maybe you’ve been coding for a while but haven’t found a project you felt comfortable contributing to.</p>

<h3 id="you-can-do-it-heres-how" class="header-level-1">You can do it! Here’s how.</h3>
<p>If you have never contributed to an open source project before and you’re just getting started, consider exploring these resources.</p>

<ul>
  <li><a href="https://github.com/multunus/first-contributions">First contributions</a> is a hands-on tutorial that walks you through contributions workflow on github. When you complete the tutorial, you’d have made a contribution to the same project.</li>
  <li><a href="http://up-for-grabs.net/">http://up-for-grabs.net</a> is a site that aggregates (rolls up and makes easy to explore) projects that actively <em>want</em> help. They label those projects with things like “up-for-grabs”, “jump-in” or “help wanted.”</li>
  <li><a href="https://www.codetriage.com/">CodeTriage</a> helps you subscribe to your favorite open-source projects and get a new open issue from them in your inbox everyday.</li>
  <li>Read blog posts and guides on how to <a href="http://www.hanselman.com/blog/GetInvolvedInOpenSourceTodayHowToContributeAPatchToAGitHubHostedOpenSourceProjectLikeCode52.aspx">contribute to an open source project</a>, then pick one!</li>
  <li>If you’re just getting started with tech and are considering being a social developer, we’ve made a documentary training movie for you! <a href="http://www.getinvolvedintech.com/">Get Involved in Tech</a> walks you through setting up your GitHub account, exploring StackOverflow, setting up a blog and starting to tweet!</li>
  <li>Wondering what someone else’s first contribution was? You can easily find out any GitHub username’s “<a href="http://firstpr.me/">First Pull Request</a>” here! (I think you’ll find that most people’s first PRs were relatively small <a href="http://firstpr.me/#kentcdodds">like Kent’s</a>).</li>
  <li>We think that open source projects <a href="http://www.hanselman.com/blog/BringKindnessBackToOpenSource.aspx">should value civility, kindness, and patience with new developers</a>. We encourage you to explore projects that have a published <a href="http://contributor-covenant.org/">Code of Conduct</a>.</li>
</ul>

<h3 id="yes-its-scary-but-so-rewarding" class="header-level-1">Yes, it’s scary. But SO rewarding!</h3>

<p>We asked folks on Twitter what they felt like when they made their first contribution to an open source project. Here’s just a few of their tweets.</p>

<p>Some had great experiences:</p>

<twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-0" style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;" data-tweet-id="630564607527137280"></twitterwidget>

<twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-1" style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;" data-tweet-id="630609157218041857"></twitterwidget>

<twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-2" style="position: absolute; visibility: hidden; display: block; transform: rotate(0deg);"></twitterwidget><blockquote class="twitter-tweet twitter-tweet-error" data-conversation="none" lang="en" data-twitter-extracted-i15218623089897507="true"><p lang="en" dir="ltr"><a href="https://twitter.com/shanselman">@shanselman</a> Proud. It is really great to something you did on the web for others to see.</p>— Mark (@marcusp619) <a href="https://twitter.com/marcusp619/status/630549004015644672">August 10, 2015</a></blockquote>

<twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-3" style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;" data-tweet-id="630546384865722369"></twitterwidget>

<p>Some had bad experiences. The purpose of <code class="highlighter-rouge">first-timers-only</code> is to help everyone have an empowering and welcoming first experience as they enter the world of Open Source Software (OSS)!</p>

<twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-4" style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;" data-tweet-id="630598265365401601"></twitterwidget>

<h3 id="are-you-an-oss-project-owner" class="header-level-1">Are you an OSS Project Owner?</h3>

<p>If you are an OSS project owner, then consider marking a few open issues with the label <a href="https://github.com/search?q=label%3Afirst-timers-only&amp;state=open&amp;type=Issues">first-timers-only</a>. The <code class="highlighter-rouge">first-timers-only</code> label explicitly announces:</p>

<blockquote>
  <p>I’m willing to hold your hand so you can make your first PR. This issue is rather a bit easier than normal.
And anyone who’s already contributed to open source isn’t allowed to touch this one!</p>
</blockquote>

<p>First timer contributions are normally very small and easy (One <a href="https://github.com/formly-js/angular-formly/pull/415/files">recent <code class="highlighter-rouge">first-timers-only</code></a> issue was literally three lines of simple changes! And the changes were <a href="https://github.com/formly-js/angular-formly/issues/410#issuecomment-127227984">described in great detail</a> and tested by the project maintainer). But this makes it easier for the contributor to <em>get the hang of the contribution process rather than the contribution itself.</em> Remember, this isn’t as much about getting your project features implemented quickly as it is about helping first timers.</p>

<p>Why is YAL (yet another label) like <code class="highlighter-rouge">first-timers-only</code> important? Because it makes a statement that first timers are welcome, that they are valued, and that they can start on your project! Often <a href="https://medium.com/@kentcdodds/first-timers-only-78281ea47455">the hard part of getting into open source for the first time isn’t the implementation of a feature, but figuring out how to actually contribute code</a> such that the pull request is accepted! But, oh the feeling of accomplishment when your first PR is merged!</p>

<p>Go label an issue or two with <code class="highlighter-rouge">first-timers-only</code> and <em>advertise</em> that those issues exist! Walk a newbie a week (or a month) through the process! Document the process, blog and tweet about it and encourage those first timers to do the same! And add this badge to your repo’s README:</p>

<p><a href="http://www.firsttimersonly.com/"><img src="./index_files/first--timers--only-friendly-blue.svg" alt="first-timers-only"></a></p>

<p>Markdown snippet:</p>
<div class="language-markdown highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="p">[</span><span class="nv">![first-timers-only</span><span class="p">](</span><span class="sx">http://img.shields.io/badge/first--timers--only-friendly-blue.svg?style=flat-square</span><span class="p">)</span>](http://www.firsttimersonly.com/)
</code></pre></div></div>

<p><a href="https://twitter.com/kentcdodds">Kent C. Dodds</a> proposed <a href="https://medium.com/@kentcdodds/first-timers-only-78281ea47455">First Timers Only</a> to get  new people to make their first contribution. <a href="http://hanselman.com/">Scott Hanselman</a> blogged about <a href="http://www.hanselman.com/blog/BringKindnessBackToOpenSource.aspx">Bringing Kindness Back to Open Source</a>, so it was obvious that we team up and promote these ideas and get more folks involved in open source.</p>

<p><a href="https://twitter.com/charlotteis">Charlotte Spencer</a> created a great twitter account called <a href="https://twitter.com/yourfirstpr">@yourfirstpr</a> that exists to showcase great issues that a newbie can solve in order to create “Your First PullRequest!” We recommend you follow <a href="https://twitter.com/yourfirstpr">@yourfirstpr</a> and let them know if your OSS project has a <code class="highlighter-rouge">first-timers-only</code> tag and you have open issues that you’ll reserve for a new contributor!</p>

<p><a href="https://twitter.com/musically_ut">Utkarsh Upadhyay</a> created a bot called <a href="https://twitter.com/first_tmrs_only">@first_tmrs_only</a> which tweets when a new first-timers-only issue is posted on GitHub. Follow it to stay abreast with latest first-timers-only issues!</p>

<p><a href="https://agonzalez0515.github.io/">Angie Gonzalez</a> and <a href="https://github.com/techforchange">Arlene Perez</a> created a GitHub app called <a href="https://github.com/apps/first-timers">First Timers</a> that automates most of the process of creating <code class="highlighter-rouge">first-timers-only</code> issues. Install it the app on your repositories and commit simple changes to branches with names starting with <code class="highlighter-rouge">first-timers-</code> – the First Timers App will turn it into a fully fledged issue with all information a first-time Open Source contributor will need to make their first pull request.</p>

<h3 id="empower-a-first-timer-today" class="header-level-1">Empower a First Timer today!</h3>
<p>We believe - and we hope you do too - that learning how to code, how to think, <em>and</em> <em>how to contribute to open source</em> can empower the next generation of coders and creators. We VALUE first time contributors and we want them to know that everyone started somewhere! Start here!</p>

<script async="" src="./index_files/widgets.js" charset="utf-8"></script>


      </section>

      <footer>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            <p>This initiative by <a href="https://github.com/shanselman">shanselman</a> and <a href="https://github.com/kentcdodds">kentcdodds</a> can be found on <a href="https://github.com/shanselman/firsttimersonly">GitHub</a></p>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
        <p>Generated with <a href="https://pages.github.com/">GitHub Pages</a> using Merlot</p>
        <span class="octocat"></span>
      </footer>

    </div>
  

<iframe scrolling="no" frameborder="0" allowtransparency="true" src="./index_files/widget_iframe.f47a2e0b4471326b6fa0f163bda46011.html" style="display: none;"></iframe><iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: none;" title="Twitter analytics iframe" src="./index_files/saved_resource.html"></iframe></body></html>